<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>

<form method="POST" action="/auth/register">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name" placeholder="Full Name">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone" placeholder="Phone">
        <button type="submit" name="register" id="register">Register</button>
</form>

<script src="./client/script.js"></script>
</body>
</html>

